<div class="row" data-ctrl-static-content="">
  <div class="" data-ng-switch="" data-on="contentName">
    <div data-ng-switch-when="$has-scripting$">
      <div data-ng-include="getThemeUrl('/views/static-content/has-scripting.html')"></div>
    </div>
    <div data-ng-switch-default="">
      <div data-ng-include="getThemeUrl('/views/static-content/two-columns.html')"></div>
    </div>
    <div data-ng-switch-when="couponpolicy">
      <div data-ng-include="getThemeUrl('/views/static-content/one-column.html')"></div>
    </div>
    <div data-ng-switch-when="promotions">
      <div data-ng-include="getThemeUrl('/views/static-content/one-column.html')"></div>
    </div>
    <!-- Store Details -->
  </div>
</div>
<div class="end"></div>

<div data-gsn-partial-content="" class="col-md-12">
  <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="pcvm.isLoading"></div>
  <div data-ng-if="!pcvm.notFound" data-ng-include="getThemeUrl('/views/static-content/' + pcvm.layout + '.html')"></div>
</div>
<style>
.staticContent img {
    max-width: 100%;
}
</style>